node_modules/
*.log
server.pid
firebase-admin.json
secrets/
keystore.properties
.env
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/captures/
app-debug.apk
bitva-sl.apk
bitva-slov-game.apk
dl-imgs/
design/
menu.jpg
test/